.jumbotron {
    background-color: #49d861;
    border-bottom: 1px solid gray;
}

img {
    max-width: 13em;
    max-height: 13em;
    border: 5px solid whitesmoke;
    float: left;
    margin-right: 2em;
    margin-top: -43px;
}