<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Michael Brady</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button ngx-scroll-to [ngx-scroll-to-offset]="320" class="btn">Timeline</button>
      </li>
      <li class="nav-item">
        <button ngx-scroll-to [ngx-scroll-to-offset]="1800" class="btn">My Education</button>
      </li>
      <li class="nav-item">
        <button ngx-scroll-to [ngx-scroll-to-offset]="2270" class="btn">My Projects</button>
      </li>
      <li class="nav-item">
        <button ngx-scroll-to [ngx-scroll-to-offset]="2920" class="btn">My Technologies</button>
      </li>
      <li class="nav-item">
        <button class="btn" data-toggle="modal" data-target="#contactModal">Contact Me</button>
      </li>
    </ul>
  </div>
</nav>
<app-hero></app-hero>
<div class="container" style="max-width: 90%">
  <div class="row">
    <div class="col-sm-12">
      <h3 style="text-align: center" id="timeline" #timelineRef>Timeline</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <vertical-timeline>
        <vertical-timeline-card [timeString]="2013">
          <h5>My first programming experience was in Coderdojo DCU, where I made games
            using Scratch and Javascript.</h5>
        </vertical-timeline-card>
        <vertical-timeline-card [timeString]="2014">
          <h5>I took taster courses in CCT College Dublin. These coures ranged from
            C# programming and development to networking to 3D modelling.</h5>
        </vertical-timeline-card>
        <vertical-timeline-card [timeString]="2015">
          <h5>Became a mentor in Coderdojo DCU and started helping with the classes there. Also attended
            various programming competitions and hacks.
          </h5>
        </vertical-timeline-card>
        <vertical-timeline-card [timeString]="2016">
          <h5>Took on many side projects, particularly games, using online courses. Learned
            how to use version control.</h5>
        </vertical-timeline-card>
        <vertical-timeline-card [timeString]="2017">
          <h5>I started the Bachelor of Science in Computing course in IT Tallaght and also
            joined the Coderdojo there. My first semesters taught me all about Java.</h5>
        </vertical-timeline-card>
        <vertical-timeline-card [timeString]="2018">
          <h5>I took over the Coderdojo in IT Tallaght and started teaching there.</h5>
        </vertical-timeline-card>
        <vertical-timeline-card [timeString]="2019">
          <h5>Took on a work placement in Fidelity Investments Ireland, lasting four months.
            The placement lasted for eight months, during which I learned Angular. Also graduated
            from TU Dublin (formerly IT Tallaght).</h5>
        </vertical-timeline-card>
      </vertical-timeline>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-sm-12" style="text-align: center">
      <h3>My Education</h3>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-default">
        <div class="card-header">
          <button href="#expan" data-toggle="collapse" class="btn btn-success">Secondary School ></button>
        </div>
        <div id="expan" class="collapse card-body">
          <div class="col-sm-6">
            <h5>My Results</h5>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Class</th>
                  <th>Level</th>
                  <th>Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>English</td>
                  <td>Honors</td>
                  <td>B</td>
                </tr>
                <tr>
                  <td>Irish</td>
                  <td>Ordinary</td>
                  <td>D</td>
                </tr>
                <tr>
                  <td>Maths</td>
                  <td>Ordinary</td>
                  <td>B</td>
                </tr>
                <tr>
                  <td>Physics</td>
                  <td>Ordinary</td>
                  <td>C</td>
                </tr>
                <tr>
                  <td>Geography</td>
                  <td>Ordinary</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Biology</td>
                  <td>Honors</td>
                  <td>C+</td>
                </tr>
                <tr>
                  <td>French</td>
                  <td>Ordinary</td>
                  <td>A</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-12">
            <h5>I attend St. Mac Dara's Community College from 2011-2016. Although there were no technology-related
              subjects available, I took an interest in computing around 2013 and started taking classes outside of
              school.</h5>
          </div>
        </div>
        <div class="card-header">
          <button href="#expand" data-toggle="collapse" class="btn btn-success">Computer Science, Year One ></button>
        </div>
        <div id="expand" class="collapse card-body">
          <div class="col-sm-6">
            <h5>My Results</h5>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Module</th>
                  <th>Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Software Development 1</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Business Information Systems</td>
                  <td>B</td>
                </tr>
                <tr>
                  <td>Computer Architecture</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Fundamentals of Interface and Web Design</td>
                  <td>B-</td>
                </tr>
                <tr>
                  <td>Discrete Mathematics 1</td>
                  <td>C</td>
                </tr>
                <tr>
                  <td>Software Development 2</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Object-Oriented System Analysis</td>
                  <td>C+</td>
                </tr>
                <tr>
                  <td>Social Media Communications</td>
                  <td>B</td>
                </tr>
                <tr>
                  <td>Database Fundamentals</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Operating System Fundamentals</td>
                  <td>B+</td>
                </tr>
                <tr>
                  <td>Statistics</td>
                  <td>B-</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-12">
            <h5>I had plenty of experience with programming before I started in college, however, not in Java, which was
              the first language we used. We learned the basics of object-oriented programming and Java quickly became
              one of my most familiar languages.<br><br>Database Fundamentals also introduced me to SQL and the concept
              of databases. We learned how to create, read, update and delete from databases, as well as database
              theory.<br><br>Computer Architecture and Operating System Fundamentals taught me theory that I had always
              been interested in. I can definitely say that understanding the fundamentals of computing has helped me in
              ways I never would have expected.<br><br>I joined the Computer Society in IT Tallaght near the beginning
              of the year and attended a couple of hackathons.</h5>
          </div>
        </div>
        <div class="card-header">
          <button href="#expand2" data-toggle="collapse" class="btn btn-success">Computer Science, Year Two ></button>
        </div>
        <div id="expand2" class="collapse card-body">
          <div class="col-sm-6">
            <h5>My Results</h5>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Module</th>
                  <th>Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Software Development 3</td>
                  <td>B+</td>
                </tr>
                <tr>
                  <td>Software Quality Assurance and Testing</td>
                  <td>B</td>
                </tr>
                <tr>
                  <td>Networking 1</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Database Design and Programming</td>
                  <td>B</td>
                </tr>
                <tr>
                  <td>Discrete Mathematics 2</td>
                  <td>B-</td>
                </tr>
                <tr>
                  <td>Web and Mobile Design and Development</td>
                  <td>B-</td>
                </tr>
                <tr>
                  <td>Software Development 4</td>
                  <td>C+</td>
                </tr>
                <tr>
                  <td>Second Year Project</td>
                  <td>B</td>
                </tr>
                <tr>
                  <td>Networking 2</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Object Oriented Analysis and Design</td>
                  <td>B+</td>
                </tr>
                <tr>
                  <td>Management Science</td>
                  <td>B-</td>
                </tr>
                <tr>
                  <td>Information Security</td>
                  <td>B+</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-12">
            <h5>My second year gave me plenty of practical experience. Both of my software development modules shifted
              to much more industry-focused topics, such as the MVC design pattern, database persistence and agile
              methodologies. I used, in multiple different CAs and projects, a couple of different database providers,
              database management systems and frameworks. The modules built on my experience with databases and taught
              me how to integrate one into an application.<br><br>My Software Quality Assurance and Testing module
              taught me both the theory and practice of testing, something which came in very handy later on during my
              work placement. We used tools like Selenium and JUnit to write unit and acceptance tests. We also did some
              black box testing.<br><br>I joined IT Tallaght's Coderdojo through the Computer Society during my second
              year and started teaching beginner programming classes in Scratch.</h5>
          </div>
        </div>
        <div class="card-header">
          <button href="#expand3" data-toggle="collapse" class="btn btn-success">Computer Science, Year Three ></button>
        </div>
        <div id="expand3" class="collapse card-body">
          <h5>My Results</h5>
          <div class="col-sm-6">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Module</th>
                  <th>Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Data Structures and Algorithms</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Data Analysis</td>
                  <td>B+</td>
                </tr>
                <tr>
                  <td>Advanced Databases</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Cloud Services and Distributed Computing</td>
                  <td>B-</td>
                </tr>
                <tr>
                  <td>Server-Side Web Development</td>
                  <td>B-</td>
                </tr>
                <tr>
                  <td>Operating Systems</td>
                  <td>C</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-12">
            <h5>I went to a work placement during my third year with Fidelity Investments. Before the placement, my
              modules were mostly designed to prepare me for the industry. I used most of them on the placement, where
              my responsibilities were to test, develop and manage the build process of an Angular
              application.<br><br>My Data Structures and Algorithms module taught me C++ and was one of my most
              enjoyable programming experiences. I learned about fundamental programming concepts like memory management
              and compilers.<br><br>Data analysis was a brief introduction to the huge topic of data analytics. I used R
              to parse, clean and analyze datasets, then create visualizations that showed important features of those
              datasets.<br><br>I also did a lot of bash scripting and C programming in the Operating Systems module.
            </h5>
          </div>
        </div>
        <div class="card-header">
          <button href="#expand4" data-toggle="collapse" class="btn btn-success">Computer Science, Year Four ></button>
        </div>
        <div id="expand4" class="collapse card-body">
          <h5>Pending...</h5>
          <h5>For my final year, I am taking on modules in Machine Learning, Data Visualization, Enterprise Application
            Development, Information Management and Enterprise Architecture. My results will be available soon.</h5>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <h3 style="text-align: center" id="projects">My Projects</h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card h-100 project">
        <div class="card-header">
          <h5 class="card-title">2nd Year Project</h5>
        </div>
        <div class="card-body">
          <h6 class="card-text">I created an online game shop as part of a group of three
            during my second year of college.
            The site was built with the Java Play Framework, which was my first exposure to
            a web development framework and a useful insight into the MVC. I enjoyed the teamwork
            and collaboration, especially with Github to manage our work.<br><br>
            The final project was a full-fledged online shop with a user profile system, forum,
            review section, cart, checkout. The project showed me about recording and storing user
            data properly and gave me plenty of experience with different database management systems.
            I also used Bootstrap extensively.
          </h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card h-100 project">
        <div class="card-header">
          <h5 class="card-title">Voice-Activated Lighting</h5>
        </div>
        <div class="card-body">
          <img src="./assets/img/raspi-logo.png">
          <h6 class="card-text">I used a Raspberry PI 3 and the Google Speech-to-Text API to
            activate and control a set of LED lights. This was my first side project where I
            used an API and also my first time playing with a Raspberry PI. After a while working
            on college projects with a limited number of dependencies, it was interesting and
            insightful to work on a project of my own with APIs that I chose myself.
          </h6>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card h-100 project">
        <div class="card-header">
          <h5 class="card-title">Angular App</h5>
        </div>
        <div class="card-body">
          <img src="assets/img/angular-logo.svg">
          <h6 class="card-text">During my work placement, I developed an Angular app. The work
            helped me to understand Angular, which has been extremely useful for many other projects.
            It was my first experience with acceptance and unit testing of web applications, for which
            I used the Cypress testing framework and also Jasmine. I was in charge of maintaining a
            test suite and writing new tests for new features.<br><br>
            I also gained plenty of experience with Jenkins in this project by maintaining two build
            pipelines.
          </h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card h-100 project">
        <div class="card-header">
          <h5 class="card-title">Data Analysis in R</h5>
        </div>
        <div class="card-body">
          <img src="assets/img/r-logo.png">
          <h6 class="card-text">In R, along with two other students, I analyzed a dataset on the topic of relay races
            and demonstrated which attributes of an athlete were more important. The project introduced me to R and data
            analytics, both of which I used later.
          </h6>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-sm-12" style="text-align: center;">
      <h3>My Technologies</h3>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-2 tech">
      <div class="card h-100">
        <img class="card-img-top" src="assets/img/java-logo.png">
        <div class="card-header">
          <h4>Java</h4>
        </div>
        <div class="card-body">
          <h5>Three years of experience with Java. Experience with JDBC and Spring.</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 tech">
      <div class="card h-100">
        <img class="card-img-top" src="assets/img/csharp.svg">
        <div class="card-header">
          <h4>C#</h4>
        </div>
        <div class="card-body">
          <h5>Two years of experience with C#.</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 tech">
      <div class="card h-100">
        <img class="card-img-top" src="assets/img/javascript-logo.png">
        <div class="card-header">
          <h4>JavaScript</h4>
        </div>
        <div class="card-body">
          <h5>Three years of experience with JavaScript between web development and IOT projects.</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 tech">
      <div class="card h-100">
        <img class="card-img-top" src="assets/img/python-logo.png">
        <div class="card-header">
          <h4>Python</h4>
        </div>
        <div class="card-body">
          <h5>One year of experience. Used mostly for CSV processing and XML handling.</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 tech">
      <div class="card h-100">
        <img class="card-img-top" src="assets/img/sql-logo.png">
        <div class="card-header">
          <h4>SQL</h4>
        </div>
        <div class="card-body">
          <h5>Infrequent use over three years. Worked with NoSQL and relational databases like MongoDB and MySQL.</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 tech">
      <div class="card h-100">
        <img class="card-img-top" src="assets/img/cplusplus-logo.png">
        <div class="card-header">
          <h4>C++</h4>
        </div>
        <div class="card-body">
          <h5>Frequent use of C++ for a year. One of my favorite languages.</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 tech">
      <div class="card h-100">
        <img class="card-img-top" id="reactHack" src="assets/img/react-logo.svg">
        <div class="card-header">
          <h4>React</h4>
        </div>
        <div class="card-body">
          <h5>Basic knowledge of React from a college project.</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 tech">
      <div class="card h-100">
        <img class="card-img-top" src="assets/img/angular-logo.svg">
        <div class="card-header">
          <h4>Angular</h4>
        </div>
        <div class="card-body">
          <h5>One year's experience in web development with Angular over my work placement and college work.</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 tech">
      <div class="card h-100">
        <img class="card-img-top" src="assets/img/cypress-logo.png">
        <div class="card-header">
          <h4>Cypress</h4>
        </div>
        <div class="card-body">
          <h5>Learned all features and used extensively during my work placement.</h5>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="modal fade" role="dialog" id="contactModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h3 style="text-align: center" class="modal-title">Contact Me</h3>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="text" class="form-control" id="nameInput" placeholder="Name...">
              <input type="email" class="form-control" id="emailInput" placeholder="Email...">
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="Message..."></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="reset" data-dismiss="modal" class="btn btn-success" id="contactButton"
              onclick="alert('Your message has been sent.')">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>